/* header.css */

header {
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Make the header fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top */
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #3786dd;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(20,180,236); /* Lightest color of the palette */
    text-decoration: none; /* Remove underline on hover */
}

.logo img {
    height: 40px;
}
